html {
  margin: 0;
  padding: 0;
  background-color: #282828;
  background-image:
  radial-gradient(#fff, rgba(255,255,255,.2) 2px, transparent 4px),
  radial-gradient(#fff, rgba(255,255,255,.15) 1px, transparent 2px),
  radial-gradient(#fff, rgba(255,255,255,.1) 2px, transparent 4px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 2px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

@font-face {
  font-family: 'lato-regular';
  src: url('/src/assets/font/lato-regular-webfont.woff2') format('woff2'),
       url('/src/assets/font/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'lato-regular', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  color: #000;  
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

button {
  color: #000;
}

::selection {
  background: #bec4e1;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d3d3d3;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9693bf;
  border-radius: 10px;
}

.underline {
  text-decoration: underline;
}

.mode {
  position: fixed;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 10;
}

.light-mode {
  background-color: #fff;
}

.no-color {
  background-color: #fff !important;
}

.overlay {
  display: none;
  position:fixed;
  z-index: 10;
  background-color: #000;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  border-radius: 2px;
  overflow: auto;
}

.overlay-btn {
  background-color: #e37676;
  border: none;
  padding: 0.9em;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.overlay-active {
  display: block;
}

.overlay-close {
  color: #fff;
  font-size: 200%;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.video {
  display: block;
  width: 200px;
  height: 250px;
  margin: 20px auto;
}

.video-comment {
  background-color: #e37676;
  display: block;
  color: #000;
  width: fit-content;
  margin: 20px 0;
  padding: 20px;
}

footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
}

.code-review {
  display: block;
  border-radius: 2px;
  font-size:90%;
  background-color: #f2f2f2;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  max-width: 250px;
  line-height: 25px;
  text-align: center;
}

.code-review a {
  background-color: #6359b3;
  padding: 2px;
  border-radius: 2px;
  color: #f2f2f2;
}

.contact {
  display: block;
  border-radius: 2px;
  padding: 8px;
  padding-left: 10px;
  text-align: center;
  background-color: #f2f2f2;
  height: 110px;
  margin: 0 auto;
}

.contact a {
  display: block;
}

.contact img {
  margin-top: 6px;
  height: 24px;
  width: 99px;
}

.contact span {
  display: block;
  background-color: #9bc2ff;
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 2px !important;
  width: fit-content;
  margin: 0 auto;
}

@supports (clip-path: polygon(0% 20%)) {
  .contact {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  }
}